<div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    <ul class="dropdown-menu transparent">
        <li>
            <button type="button" title="View Archive"  class="btn btn-default approveReject" ng-click="getArchiveById(course.oldCourse._id.$oid)"><span class="glyphicon glyphicon-book"></span> View Archive</button>
        </li>
        <li>
            <button type="button" ng-if="canApprove(course) && course.stage < 4" title="Approve" class="btn btn-success approveReject" ng-click="approve(course)"><span class="glyphicon glyphicon-ok"></span> Approve</button>
        </li>
        <li>
            <button type="button" ng-if="canApprove(course) && course.stage < 4" title="Reject" class="btn btn-danger approveReject" ng-click="reject(course)"><span class="glyphicon glyphicon-remove"></span> Reject</button>
        </li>
        <li>
            <button type="button" title="Course should be added to catalog before this is clicked. It will be removed from this list." class="btn btn-info approveReject" ng-click="archiveProp(course);" ng-show="(user.role.indexOf('Registrars_Office') > -1 || user.role.indexOf('Students') > -1) && course.stage==4"><span class="glyphicon glyphicon-ok"></span> Complete</button>
        </li>   
    </ul>
</div>