<div class="container-fluid" ng-switch="view">
	<course-list ng-switch-when="mychanges" data="myChanges" user='user' extendedview="true" courses="courses" proposals="allProposals"></course-list>
	<course-list ng-switch-when="allchanges" data="allProposals" user='user' extendedview="true" courses="courses" proposals="allProposals"></course-list>
	<course-list ng-switch-when="recent" data="recentlyViewed" user='user' extendedview="true" courses="courses" proposals="allProposals"></course-list>
	<course-list ng-switch-when="registrar" data="registrarData" user='user' extendedview="true" courses="courses" proposals="allProposals"></course-list>
</div>