<div class="dashboard container-fluid">
    <div class="col-md-6">
        <div ng-hide="user.role.length ==1 && user.role.indexOf( 'Registrars_Office' ) != -1" class="container-fluid jumbotron">
            <course-list data='myChanges' user='user' courses="courses" proposals="allProposals"></course-list>
        </div>
        <div ng-hide="user.role.length ==1 && user.role.indexOf( 'Registrars_Office' ) != -1" class="container-fluid jumbotron">
            <course-list data='recentlyViewed' user='user' courses="courses" proposals="allProposals"></course-list>
        </div>
        <div ng-show="user.role.length ==1 && user.role.indexOf( 'Registrars_Office' ) != -1" class="container-fluid jumbotron">
            <course-list data='registrarData' user='user' courses='courses' proposals='allProposals'></course-list>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid jumbotron">
            <course-list data='allProposals' user='user' courses="courses" proposals="allProposals"></course-list>
        </div>
    </div>
</div>
