<!-- if the element has a name, it is a course. if not, it is a proposal -->
<!--<div ng-if="element.name == null" class="container-fluid courseLink">
    <div class="container-fluid" style="padding-left:0; padding-right: 0;">
        <div class="col-xs-10" style="padding-left: 0;">
            <a ng-href="#/{{element.newCourse.name}}">{{element.newCourse.name}}
                <span class="old-course" ng-if="element.oldCourse && element.oldCourse.name != element.newCourse.name">{{element.oldCourse.name}}</span>
                <br>
                <span class="courseTitle"><strong>{{element.newCourse.title}} </strong> </span>
                <small ng-if="element.oldCourse == null" style="color: green;">[New Course]</small>
                <small ng-if="element.oldCourse && element.oldCourse.title != element.newCourse.title" class="old-course"><br>{{element.oldCourse.title}}</small>
            </a>
        </div>
        <div class="col-xs-2 pull-right" style="padding-right: 0;">
            <a href="#/{{element.newCourse.name}}/edit" class="btn btn-edit pull-right" ng-if="user.name == element.owner"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </div>

    <div class="col-xs-12 progress" style="padding:0; margin-bottom: 0;">
        <div class="progress-bar" ng-class="getClass({{element.stage}}, 1)" class="progress-bar-danger" role="progressbar" style="width:25%">
            Division
        </div>
        <div class="progress-bar" ng-class="getClass({{element.stage}}, 2)" role="progressbar" style="width:25%">
            APC
        </div>
        <div class="progress-bar" ng-class="getClass({{element.stage}}, 3)" role="progressbar" style="width:25%">
            Full Faculty
        </div>
        <div class="progress-bar" ng-class="getClass({{element.stage}}, 4)" role="progressbar" style="width:25%">
            Registrar
        </div>
    </div>
    <div class="container-fluid">
        <small class="pull-right"> Owner : {{element.owner}}</small>
    </div>
</div> -->
<p> EXTENDED COURSE TEMPLATE</p>