<div class="container-fluid" >
	<div class="col-md-4 col-md-offset-4 jumbotron" id="login-container">
		<h3>Enter your NorseKey username to sign on.</h3>
                <form ng-submit="authenticate()">
                    <div class="form-group">
                        <label for="j_username"> Email</label>
                        <input id="j_username" class="form-control" required type="text" placeholder="@luther.edu" ng-model="j_username"/>
                    </div>
                    <div class="form-group">
                        <label for="j_password">Password</label>
                        <input id="j_password" class="form-control" required type="password" placeholder="Password" ng-model="j_password"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
		<div class="alert alert-danger" ng-if="loginfailure">Luther Course Proposal restricts access to Luther accounts. Please enter a valid Luther email and password.</div>
        </div>
</div>