<div class="container-fluid">
	<div class="page-header" style="margin-top: 0px;">
			<h2>{{user.name}} 
				<div ng-if="user.chairs && user.chairs.indexOf('APC') != -1" title="Change Permissions" class="btn btn-primary pull-right" ng-click="openEditModal('permissions')" style="margin-right:10px;"><span class="glyphicon glyphicon-education"></span> Edit Permissions</div>
				<div title="Edit Preferences" class="btn btn-primary pull-right" ng-click="openEditModal('preferences')" style="margin-right:10px;" ng-show="user.role != 'Registrars_Office'"><span class="glyphicon glyphicon-user"></span>User Preferences</div>
			</h2>
	</div>
	<div class="col-xs-8">
		<ul style="list-style:none;">
			<li>
				<blockquote>
					<div class="quote-header">
						<h4>Email</h4>
					</div>
					<div class="quote-body">
						<div class="well well-sm">
							{{user.email}}
						</div>
					</div>
				</blockquote>
			</li>
                        <li>
				<blockquote>
					<div class="quote-header">
						<h4>Roles </h4><span class="badge">{{user.role.length}}</span>
					</div>
					<div class="quote-body">
						<div class="well well-sm" ng-repeat="r in user.role" style="margin-right: 15px;">
							{{r}}
						</div>
					</div>
				</blockquote>
			</li>
			<li ng-hide="user.role.length ==1 && user.role.indexOf( 'Registrars_Office' ) != -1">
				<blockquote>
					<div class="quote-header">
						<h4>Departments </h4><span class="badge">{{user.dept.length}}</span>
					</div>
					<div class="quote-body">
						<div class="well well-sm" ng-repeat="d in user.dept" style="margin-right: 15px;">
							{{d}}
						</div>
					</div>
				</blockquote>
			</li>
			<li ng-hide="user.role.length ==1 && user.role.indexOf( 'Registrars_Office' ) != -1">
				<blockquote>
					<div class="quote-header">
						<h4>Division</h4><span class="badge">{{user.division.length}}</span>
					</div>
					<div class="quote-body">
						<div class="well well-sm" ng-repeat="div in user.division" style="margin-right: 15px;">
							{{div}}
						</div>
					</div>
				</blockquote>
			</li>
			<li ng-hide="user.role.length ==1 && user.role.indexOf( 'Registrars_Office' ) != -1">
				<blockquote>
					<div class="quote-header">
						<h4>Chairs Held</h4>
						<span ng-if="user.chairs" class="badge">{{user.chairs.length}}</span>
						<span ng-if="!user.chairs" class="badge">0</span>
					</div>
					<div class="quote-body">
						<div ng-show="user.chairs && user.chairs.length > 0" class="well well-sm" ng-repeat="chair in user.chairs">
							{{chair}}
						</div>
						<div ng-hide="user.chairs && user.chairs.length > 0" class="well well-sm">
							Chair of a committee, you are not. 
						</div>
					</div>
				</blockquote>
			</li>
		</ul>
	</div>
</div>