<!-- Modal -->
<div class="modal fade" id="show-archives" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
                <button ng-if="!required" type="button" class="close" data-dismiss="modal" aria-label="Close"><a href="#\archives"><span aria-hidden="true">&times;</span></a></button>
    			<h4 class="modal-title">We Made It</h4>
    		</div>
            <div class="modal-body">
                WOOOOOOOOOOOO
            </div>
        </div>
    </div>
</div>
