<div class="well">
	<div class="containter-fluid">
		<div class="panel panel-default comment" ng-repeat="comment in course.comments | orderBy: sortComment">
			<div class="panel-header">
				<h3 class="panel-title">{{comment.user}}</h3>
				<div class="pull-right">{{comment.date | toDate | date : 'MMM d, yyyy'}}</div>
			</div>
			<div class="panel-body">
				{{comment.body}}
			</div>
		</div>
		<!-- NEW ng-hide -->
		<div class="pane panel-primary" ng-hide="blockComments">
			<div class="panel-header">
				New Comment
			</div>
			<div class="panel-body">
				<form ng-submit="addComment(user.name, newComment)">
					<div class="form-group">
						<textarea ng-model="newComment" class="form-control" rows="3" required></textarea>
					</div>
					<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-comment"></span> Comment</button>
				</form>
			</div>
		</div>
	</div>
</div>
