<div class="courseInfoDiv">
    <div class="panel-group courseInfo smallFormField">
        <div class="panel-heading"><strong>Course Title</strong></div>
        <div class="panel panel-success">
            <div class="panel-heading">New Title</div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Old Title</div>
        </div>
    </div>

    <div class="panel-group courseInfo">
        <div class="panel-heading smallFormField"><strong>Owner</strong></div>
        <div class="panel panel-default smallFormField">
            <div class="panel-heading">Owner</div>
        </div>
    </div>

    <div class="panel-group courseInfo">
        <div class="panel-heading smallFormField"><strong>Current Stage</strong></div>
        <div class="panel panel-default smallFormField">
            <div class="panel-heading">Stage</div>
        </div>
    </div>

    <div class="panel-group courseInfo">
        <div class="panel-heading smallFormField"><strong>Instructors</strong></div>
        <div class="panel panel-success smallFormField">
            <div class="panel-heading">New</div>
        </div>
        <div class="panel panel-danger smallFormField">
            <div class="panel-heading">Old</div>
        </div>
    </div>

    <div class="panel-group courseInfo largeFormField">
        <div class="panel-heading "><strong>Fees</strong></div>
        <div class="panel panel-success">
            <div class="panel-heading">New</div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Old</div>
        </div>
    </div>

    <div class="panel-group courseInfo">
        <div class="panel-heading smallFormField"><strong>Estimated Enrollment</strong></div>
        <div class="panel panel-success">
            <div class="panel-heading">New</div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Old</div>
        </div>
    </div>

    <div class="panel-group courseInfo largeFormField">
        <div class="panel-heading"><strong>Rationale</strong></div>
        <div class="panel panel-default">
            <div class="panel-heading">Rationale</div>
        </div>
    </div>
</div>
