<div class="course-list">
    <div class="section-bar container-fluid">
        <h4 class="section-title"></h4>
        <button type="button" class="btn btn-success pull-right" style="margin-right: 10px;">
            <a ng-href="#/newproposal" class="newPropLink">New Proposal</a>
        </button>
    </div>
    <div ng-show="!retrievingData">
        <div class="container-fluid course" ng-repeat="course in data">
            <course></course>
        </div>
    </div>
    <div ng-show="retrievingData">Loading...</div>
</div>
