<div class="dashboard container-fluid" ng-controller="dashboardCtrl">
    <div class="col-md-6">
        <div class="container-fluid jumbotron">
            <course-list data='myProposals'></course-list>
        </div>
        <div class="container-fluid jumbotron">
            <course-list data='recentlyViewed'></course-list>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid jumbotron">
            <course-list data='allProposals'></course-list>
        </div>
    </div>
</div>
