<div class="dashboard container-fluid">
    <div class="col-md-6">
        <div class="container-fluid jumbotron">
            <course-list data='myChanges' user='user'></course-list>
        </div>
        <div class="container-fluid jumbotron">
            <course-list data='recentlyViewed' user='user'></course-list>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid jumbotron">
            <course-list data='allProposals' user='user'></course-list>
        </div>
    </div>
</div>
