<h4 class="modal-title" id="myModalLabel">Department Data</h4>
<div class="modal-body">
	<div class="container-fluid">
	    <label>Department<span style="color: red;">*</label>
	    <form class="form-inline">
    		<div class="form-group">
				<select class="form-control" ng-required="required" ng-model="selectedDept" ng-options="dept as dept.name for dept in depts | orderBy : 'name' track by dept.abbrev">
				</select>
				<div class="col-xs-4 col-xs-offset-4 btn btn-primary" ng-click="addDept()">Add</div>
			</div>
		</form>
	</div>
	<div class="container-fluid">
		<div class="col-xs-4 btn-removable" ng-repeat="dept in memberDepts">{{dept.abbrev}}<div class="pull-right" aria-hidden="true" ng-click="removeDept(dept)">&times;</div>
		</div>
	</div>
</div>
