<!-- Modal -->
<div class="modal fade" id="permission-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><a href="#\login"><span aria-hidden="true">&times;</span></a></button>
    			<h4 class="modal-title" id="myModalLabel">Permissions</h4>
    		</div>
    		<div class="modal-body">
				<div>Grant permissions to a user by selecting a user, modifying the chair positions they hold, and submitting. 
				</div>
    			<form id="permission-form">
    				<div class="form-group form-inline">
    					<label> Users </label>
    					<select class="form-control" ng-required="required" ng-model="selectedUser"
					   			ng-options="prof as prof.name for prof in faculty | orderBy : 'name' track by prof.email">
					   			<option value="" disabled selected>Select User</option>
    					</select>
    				</div>
					<div class="form-group form-inline">
    					<label> Chairs </label>
    					<select title="Choose a committee, division, or department chair for the user above." class="form-control" ng-required="required" ng-model="selectedChair"
					   			ng-options="chair as chair for chair in chairs">
					   			<option value="" disabled selected>Select Chair</option>
    					</select>
    					<div class="btn btn-primary" ng-click="addChair()">Add</div>
					</div>
    				<div class="container-fluid">
						<div class="col-xs-4 btn-removable" ng-model="chairsHeld" ng-repeat="chair in chairsHeld">{{chair}}<div class="pull-right" aria-hidden="true" ng-click="removeChair(chair)">&times;</div>
						</div>
					</div>
    			</form>
			</div>
			<div class="modal-footer">
				<div class="container-fluid">
					<button class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button type="submit" form="permission-form" class="btn btn-success" ng-click="savePermissions(false)">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>

<confirmation-popup action="Remove APC Chair Privileges" msg="Are you sure you wish to revoke your own APC chair privileges? You will no longer be able to approve or revoke course proposals after it has passed division review. To undo this action, you must contact another user with APC privileges or the database administrator." confirm-func="confirm"></confirmation-popup>