<div class="containter-fluid">
	<div class="panel panel-default" ng-repeat="comment in comments">
		<div class="panel-header">
			<h3 class="panel-title">{{comment.user}}</h3>
			<div class="pull-right">{{comment.date}}</div>
		</div>
		<div class="panel-body">
			{{comment.body}}
		</div>
	</div>
	<div class="pane panel-primary">
		<div class="panel-header">
			New Comment
		</div>
		<div class="panel-body">
			<form ng-submit=""> <!-- addComment(proposal, user.name, {{date | date:'dd-MM-yyyy'}}, newComment) -->
				<div class="form-group">
					<textarea ng-model="newComment" class="form-control" rows="3" required></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Comment</button>
			</form>
		</div>
	</div>
</div>
